## Simple EDA about data

In [26]:
#libraries
import numpy as np
import pandas as pd
import seaborn as sns; sns.set()

import bar_chart_race as bcr

In [2]:
#import data
data = pd.read_csv('./owid-covid-data.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77282 entries, 0 to 77281
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               77282 non-null  object
 1   continent                              73495 non-null  object
 2   location                               77282 non-null  object
 3   date                                   77282 non-null  object
 4   total_cases                            75908 non-null  float64
 5   new_cases                              75906 non-null  float64
 6   new_cases_smoothed                     74905 non-null  float64
 7   total_deaths                           66569 non-null  float64
 8   new_deaths                             66727 non-null  float64
 9   new_deaths_smoothed                    74905 non-null  float64
 10  total_cases_per_million                75495 non-null  float64
 11  new_cases_per_million                  75493 non-null  float64
 12  new_cases_smoothed_per_million         74497 non-null  float64
 13  total_deaths_per_million               66169 non-null  float64
 14  new_deaths_per_million                 66327 non-null  float64
 15  new_deaths_smoothed_per_million        74497 non-null  float64
 16  reproduction_rate                      62208 non-null  float64
 17  icu_patients                           8139 non-null   float64
 18  icu_patients_per_million               8139 non-null   float64
 19  hosp_patients                          9750 non-null   float64
 20  hosp_patients_per_million              9750 non-null   float64
 21  weekly_icu_admissions                  713 non-null    float64
 22  weekly_icu_admissions_per_million      713 non-null    float64
 23  weekly_hosp_admissions                 1313 non-null   float64
 24  weekly_hosp_admissions_per_million     1313 non-null   float64
 25  new_tests                              35259 non-null  float64
 26  total_tests                            35028 non-null  float64
 27  total_tests_per_thousand               35028 non-null  float64
 28  new_tests_per_thousand                 35259 non-null  float64
 29  new_tests_smoothed                     40356 non-null  float64
 30  new_tests_smoothed_per_thousand        40356 non-null  float64
 31  positive_rate                          39028 non-null  float64
 32  tests_per_case                         38476 non-null  float64
 33  tests_units                            41711 non-null  object
 34  total_vaccinations                     5434 non-null   float64
 35  people_vaccinated                      4863 non-null   float64
 36  people_fully_vaccinated                3295 non-null   float64
 37  new_vaccinations                       4636 non-null   float64
 38  new_vaccinations_smoothed              8291 non-null   float64
 39  total_vaccinations_per_hundred         5434 non-null   float64
 40  people_vaccinated_per_hundred          4863 non-null   float64
 41  people_fully_vaccinated_per_hundred    3295 non-null   float64
 42  new_vaccinations_smoothed_per_million  8291 non-null   float64
 43  stringency_index                       66110 non-null  float64
 44  population                             76860 non-null  float64
 45  population_density                     72134 non-null  float64
 46  median_age                             70027 non-null  float64
 47  aged_65_older                          69223 non-null  float64
 48  aged_70_older                          69633 non-null  float64
 49  gdp_per_capita                         70285 non-null  float64
 50  extreme_poverty                        47947 non-null  float64
 51  cardiovasc_death_rate                  70889 non-null  float64
 52  diabetes_prevalence                    71817 non-null  float64
 53  female_smokers                         55681 non-null  float64
 54  male_smokers                           54863 non-null  float64
 55  handwashing_facilities                 35587 non-null  float64
 56  hospital_beds_per_thousand             64836 non-null  float64
 57  life_expectancy                        73433 non-null  float64
 58  human_development_index                70831 non-null  float64
dtypes: float64(54), object(5)
memory usage: 34.8+ MB

In [4]:
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [34]:
u = data[data['iso_code'] == 'BRA']
u = pd.concat([u, data[data['iso_code'] == 'USA']])

In [53]:
df = data.pivot(index='date', columns='iso_code', values='total_deaths')

In [54]:
df

iso_code,AFG,AGO,AIA,ALB,AND,ARE,ARG,ARM,ATG,AUS,...,VAT,VCT,VEN,VNM,VUT,WSM,YEM,ZAF,ZMB,ZWE
date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-22,2464.0,530.0,NaN,2145.0,113.0,1445.0,54671.0,3360.0,28.0,909.0,...,NaN,9.0,1502.0,35.0,NaN,NaN,771.0,52196.0,1182.0,1514.0
2021-03-23,2466.0,530.0,NaN,2156.0,113.0,1451.0,54823.0,3384.0,28.0,909.0,...,NaN,9.0,1511.0,35.0,NaN,NaN,785.0,52251.0,1185.0,1516.0
2021-03-24,2466.0,532.0,NaN,2171.0,114.0,1456.0,54946.0,3398.0,28.0,909.0,...,NaN,10.0,1521.0,35.0,NaN,NaN,800.0,52372.0,1187.0,1516.0
2021-03-25,2467.0,532.0,NaN,2184.0,114.0,1466.0,55092.0,3416.0,28.0,909.0,...,NaN,10.0,1532.0,35.0,NaN,NaN,810.0,52535.0,1191.0,1518.0
2021-03-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df2 = df.dropna(axis=1, how='all')

In [59]:
df2

iso_code,AFG,AGO,ALB,AND,ARE,ARG,ARM,ATG,AUS,AUT,...,URY,USA,UZB,VCT,VEN,VNM,YEM,ZAF,ZMB,ZWE
date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-22,2464.0,530.0,2145.0,113.0,1445.0,54671.0,3360.0,28.0,909.0,9089.0,...,811.0,542922.0,622.0,9.0,1502.0,35.0,771.0,52196.0,1182.0,1514.0
2021-03-23,2466.0,530.0,2156.0,113.0,1451.0,54823.0,3384.0,28.0,909.0,9121.0,...,827.0,543810.0,623.0,9.0,1511.0,35.0,785.0,52251.0,1185.0,1516.0
2021-03-24,2466.0,532.0,2171.0,114.0,1456.0,54946.0,3398.0,28.0,909.0,9151.0,...,843.0,545264.0,623.0,10.0,1521.0,35.0,800.0,52372.0,1187.0,1516.0
2021-03-25,2467.0,532.0,2184.0,114.0,1466.0,55092.0,3416.0,28.0,909.0,9178.0,...,856.0,546822.0,624.0,10.0,1532.0,35.0,810.0,52535.0,1191.0,1518.0
2021-03-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
temp = df2.isnull().sum().sort_values(ascending=False); temp

iso_code
KHM         436
VCT         381
BTN         374
SYC         370
GRD         369
           ...
JPN          44
PHL          33
CHN          22
OWID_ASI     22
OWID_WRL     22
Length: 189, dtype: int64

In [121]:
temp = df2.isnull().sum().sort_values(ascending=False)
cols_drop = []

for val, key in zip(temp, temp.keys()):
    if(val > 60):
        cols_drop.append(key)

len(cols_drop)

174

In [122]:
df4 = df2.drop(axis=1, columns=cols_drop)

In [123]:
df4 = pd.concat([df4, df2['BRA']], axis=1)

In [124]:
df4 = df4.dropna()

In [125]:
df4

,CHN,FRA,IRN,ITA,JPN,KOR,OWID_ASI,OWID_EUN,OWID_EUR,OWID_INT,OWID_NAM,OWID_WRL,PHL,TWN,USA,BRA
date,,,,,,,,,,,,,,,,
2020-03-17,3230.0,149.0,988.0,2503.0,30.0,81.0,4370.0,3301.0,3424.0,7.0,143.0,7966.0,12.0,1.0,134.0,1.0
2020-03-18,3241.0,149.0,1135.0,2978.0,32.0,84.0,4558.0,3899.0,4067.0,7.0,209.0,8872.0,19.0,1.0,194.0,3.0
2020-03-19,3249.0,244.0,1284.0,3405.0,33.0,91.0,4733.0,4690.0,4919.0,7.0,285.0,9983.0,17.0,1.0,266.0,6.0
2020-03-20,3253.0,451.0,1433.0,4032.0,34.0,94.0,4909.0,5822.0,6101.0,7.0,396.0,11469.0,18.0,2.0,372.0,11.0
2020-03-21,3259.0,563.0,1556.0,4825.0,36.0,102.0,5065.0,7172.0,7538.0,8.0,504.0,13191.0,19.0,2.0,475.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-21,4839.0,92119.0,61797.0,104942.0,8821.0,1697.0,416502.0,590867.0,879380.0,15.0,790517.0,2715299.0,12968.0,10.0,542363.0,294042.0
2021-03-22,4839.0,92776.0,61877.0,105328.0,8857.0,1704.0,417560.0,593671.0,883031.0,15.0,791378.0,2722948.0,12972.0,10.0,542922.0,295425.0
2021-03-23,4840.0,93064.0,61951.0,105879.0,8908.0,1707.0,418636.0,596562.0,886996.0,15.0,793180.0,2734065.0,12992.0,10.0,543810.0,298676.0
2021-03-24,4840.0,93083.0,62045.0,106339.0,8929.0,1709.0,419759.0,598913.0,890469.0,15.0,795298.0,2743502.0,13039.0,10.0,545264.0,300685.0
2021-03-25,4840.0,93535.0,62142.0,106799.0,8956.0,1716.0,420877.0,602190.0,894783.0,15.0,797527.0,2755210.0,13095.0,10.0,546822.0,303462.0

In [136]:
df5 = df4[['BRA','USA','FRA','CHN','ITA', 'IRN']]

In [138]:
df5.columns = ['Brazil','United States', 'France', 'China', 'Italy', 'Iran']

In [139]:
df5

              Brazil  United States   France   China     Italy     Iran
date
2020-03-17       1.0          134.0    149.0  3230.0    2503.0    988.0
2020-03-18       3.0          194.0    149.0  3241.0    2978.0   1135.0
2020-03-19       6.0          266.0    244.0  3249.0    3405.0   1284.0
2020-03-20      11.0          372.0    451.0  3253.0    4032.0   1433.0
2020-03-21      15.0          475.0    563.0  3259.0    4825.0   1556.0
...              ...            ...      ...     ...       ...      ...
2021-03-21  294042.0       542363.0  92119.0  4839.0  104942.0  61797.0
2021-03-22  295425.0       542922.0  92776.0  4839.0  105328.0  61877.0
2021-03-23  298676.0       543810.0  93064.0  4840.0  105879.0  61951.0
2021-03-24  300685.0       545264.0  93083.0  4840.0  106339.0  62045.0
2021-03-25  303462.0       546822.0  93535.0  4840.0  106799.0  62142.0

[374 rows x 6 columns]

In [140]:
bcr.bar_chart_race(df = df5, title='Total Deaths by some countries (measured by 25-03-2021)', filename='e04.mp4')

/home/garcia/anaconda3/envs/my_notebooks01/lib/python3.7/site-packages/bar_chart_race/_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
/home/garcia/anaconda3/envs/my_notebooks01/lib/python3.7/site-packages/bar_chart_race/_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))